*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 50px;
    background: rgb(240, 213, 217);
    background: url('backgrounds/cake15.jpg') no-repeat;
    background-size: cover;
}

.container{
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin-right: 30px;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgb(155, 75, 75);
    display: flex;
    justify-content: center;
}

.container header{
    font-size: 1.5rem;
    color: black;
    font-weight: 800;
    text-align: center;
}

.container .form{
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.form .column {
    margin: 20px 10px; /* This creates space below each button */
}

.form a {
    display: block; /* Ensure the entire button area is clickable */
    text-decoration: none; /* Remove underlines from the links */
}

.form a:hover{
    background: none;
    box-shadow: none;
}

.form button {
    height: 55px;
    width: 100%;
    color: black;
    font-size: 1rem;
    border: none;
    margin: 10px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 600;
    transition: all 0.2s ease;
    background-color: palevioletred;
    padding: 10px;
}

.form button:hover {
    background: rgb(206, 30, 88) !important;
    box-shadow: none !important;
}




.clear {
    clear: both;
}
