
body, h1, h2, p {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

main {
    padding: 2em;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
}

#gallery img {
    max-width: 100%;
    height: auto;
}

#admin-panel {
    margin-top: 2em;
    padding: 1em;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

#image-upload-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5em;
}

button {
    padding: 0.5em 1em;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}


